{
  "extends": ["alexandernanberg", "alexandernanberg/typescript"],
  "env": {
    "node": true
  },
  "globals": {
    "__webpack_public_path__": true
  },
  "rules": {
    "import/no-dynamic-require": 0,
    "react/react-in-jsx-scope": 0,
    "no-restricted-syntax": 0,
    "global-require": 0,
    "no-console": 0
  }
}
