{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "plugins": [
    "prettier"
  ],
  "env": {
		"node": true
  },
  "rules": {
    "max-len": "off",
    "strict": "off",
    "no-console": "off",
    "semi": [
      "error",
      "never"
    ]
  }
}