{
  "extends": ["airbnb-base", "prettier"],
  "parser": "babel-eslint",
  "plugins": [
    "prettier"
  ],
  "env": {
		"node": true
  },
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "arrow-parens": ["error", "as-needed", { "requireForBlockBody": true }]
  }
}